
.idea/jpa-buddy.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
out/production/advent-of-code/adventOfCode2023/inputFiles/dayOnePartOne.txt
out/production/advent-of-code/adventOfCode2023/inputFiles/sample.txt
out/production/advent-of-code-2023/Main.class
*.class
out/production/advent-of-code-2023/adventOfCode2023/inputFiles/dayOnePartOne.txt
out/production/advent-of-code-2023/adventOfCode2023/inputFiles/sample.txt
